<!DOCTYPE html>
<html>
  <head>
    <title>Digit OCR</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <h1>Scan Digit</h1>
    <div style="position: relative; display: inline-block" class="video-box">
      <video id="video" autoplay></video>
      <div id="cameraStatus">Loading camera...</div>

      <div id="overlay">
        <div id="cropBox"></div>
      </div>
    </div>

    <!-- <button onclick="captureImage()">Capture</button> -->
    <canvas id="canvas"></canvas>

    <div id="result">Detected:</div>
    <a href="/" id="back-button" style="display: none"> -Kembali</a>
    <!-- <button id="reset-btn" onclick="resetFuction()">Ulangi</button> -->
    <!-- <h3>Cropped Preview</h3> -->
    <!-- <canvas
      id="croppedPreview"
      style="border: 1px solid #ccc; display: block"
    ></canvas> -->

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='main_script.js') }}"></script>
  </body>
</html>
